.list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.list__item {
  max-width: 116px;
}

.list__item:nth-child(1) {
  margin-bottom: 10px;
}
.list__link {
  font-size: 12px;
}
.list__title {
  font-size: 14px;
  font-weight: 700;
}
